.form-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0;
}

.input-type {
  margin: 2rem 0;
}

.input-textarea {
  padding: 2rem 4rem;
}

.btn-type {
  margin-top: 3rem;
  padding: 1rem 2rem;

  border: 1px solid #888;
  border-radius: 2px;

  cursor: pointer;
}
